<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	gA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	AA==
	</data>
	<key>SystemAudioVolumeSaved</key>
	<data>
	Vw==
	</data>
	<key>backlight-level</key>
	<data>
	ZgU=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	KwqHgAAAAABQFAAAAAAAAA==
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjM4NTQyODYzLUIy
	QzAtNDg1Ri1CRDFBLTk4RUQ1RjUzNDE3NDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcU21jRmxhc2hlci5lZmk8L3N0cmluZz48L2RpY3Q+
	PC9hcnJheT4A
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEAAAAAAAQBKgABAAAAKAAAAAAAAAAAQAYAAAAA
	AGMoVDjAsl9IvRqY7V9TQXQCAgQEZABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABTAG0AYwBGAGwAYQBz
	AGgAZQByAC4AZQBmAGkAAAB//wQA
	</data>
	<key>efi-apple-payload1</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjM4NTQyODYzLUIy
	QzAtNDg1Ri1CRDFBLTk4RUQ1RjUzNDE3NDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcZmxhc2hlcl9iYXNlLnNtYzwvc3RyaW5nPjwvZGlj
	dD48L2FycmF5PgA=
	</data>
	<key>efi-apple-payload1-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEAAAAAAAQBKgABAAAAKAAAAAAAAAAAQAYAAAAA
	AGMoVDjAsl9IvRqY7V9TQXQCAgQEaABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABmAGwAYQBzAGgAZQBy
	AF8AYgBhAHMAZQAuAHMAbQBjAAAAf/8EAA==
	</data>
	<key>efi-apple-payload2</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjM4NTQyODYzLUIy
	QzAtNDg1Ri1CRDFBLTk4RUQ1RjUzNDE3NDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcZmxhc2hlcl91cGRhdGUuc21jPC9zdHJpbmc+PC9k
	aWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload2-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEAAAAAAAQBKgABAAAAKAAAAAAAAAAAQAYAAAAA
	AGMoVDjAsl9IvRqY7V9TQXQCAgQEbABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABmAGwAYQBzAGgAZQBy
	AF8AdQBwAGQAYQB0AGUALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-payload3</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjM4NTQyODYzLUIy
	QzAtNDg1Ri1CRDFBLTk4RUQ1RjUzNDE3NDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLTQ3M0QzMUVBQkVCOTNGOUIuZXBtPC9zdHJp
	bmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload3-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEAAAAAAAQBKgABAAAAKAAAAAAAAAAAQAYAAAAA
	AGMoVDjAsl9IvRqY7V9TQXQCAgQEeABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABNAGEAYwAtADQANwAz
	AEQAMwAxAEUAQQBCAEUAQgA5ADMARgA5AEIALgBlAHAAbQAAAH//BAA=
	</data>
	<key>efi-backup-boot-device</key>
	<string>&lt;array&gt;&lt;dict&gt;&lt;key&gt;IOMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;IOProviderClass&lt;/key&gt;&lt;string&gt;IOMedia&lt;/string&gt;&lt;key&gt;IOPropertyMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;UUID&lt;/key&gt;&lt;string&gt;99C8B7E7-915D-4997-9C81-0711AC61F2CF&lt;/string&gt;&lt;/dict&gt;&lt;/dict&gt;&lt;key&gt;BLLastBSDName&lt;/key&gt;&lt;string&gt;disk1s2&lt;/string&gt;&lt;/dict&gt;&lt;dict&gt;&lt;key&gt;IOEFIDevicePathType&lt;/key&gt;&lt;string&gt;MediaFilePath&lt;/string&gt;&lt;key&gt;Path&lt;/key&gt;&lt;string&gt;\FA3005E8-67D7-3BBF-AF46-22A4501F6EE7\System\Library\CoreServicesoot.efi&lt;/string&gt;&lt;/dict&gt;&lt;/array&gt;</string>
	<key>efi-backup-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEAAAAAAAQBKgACAAAAKEAGAAAAAABgLWp0AAAA
	AMiW7crz14dNtny2NtL/YTwCAgQDJAD3/HS+fAvzSZFHAfQELmhC57fImV2Rl0mcgQcR
	rGHyzwQEmgBcAEYAQQAzADAAMAA1AEUAOAAtADYANwBEADcALQAzAEIAQgBGAC0AQQBG
	ADQANgAtADIAMgBBADQANQAwADEARgA2AEUARQA3AFwAUwB5AHMAdABlAG0AXABMAGkA
	YgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBm
	AGkAAAB//wQA
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	CSDwAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	MjAxNm1iAAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AjYPAACY
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajEzMAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	bWJwLWxjbA==
	</data>
	<key>install-product-url</key>
	<data>
	eC1vc3Byb2R1Y3Q6Ly9GQTMwMDVFOC02N0Q3LTNCQkYtQUY0Ni0yMkE0NTAxRjZFRTcv
	bWFjT1MlMjBJbnN0YWxsJTIwRGF0YQ==
	</data>
	<key>platform-uuid</key>
	<data>
	2zB0VQSbTtCPi3ngceXYEw==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW4tSUQ6MjUy
	</data>
	<key>previous-system-uuid</key>
	<data>
	RkEzMDA1RTgtNjdENy0zQkJGLUFGNDYtMjJBNDUwMUY2RUU3
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEAAAAAAAQBKgACAAAAKEAGAAAAAABgLWp0AAAA
	AMiW7crz14dNtny2NtL/YTwCAgQDJAD3/HS+fAvzSZFHAfQELmhC6AUw+tdnvzuvRiKk
	UB9u53//BAA=
	</data>
	<key>wake-failure</key>
	<data>
	AAAAAAA=
	</data>
</dict>
</plist>